# Substitute Days Covered

In this Jupyter notebook, the Data Analyst Teacher Absent Report that has been created in Frontline is used. The substitutes are selected for teachers and sgis that called out and duplicate days in which they might have covered multiple teachers are dropped. A value of one is given to each day in which the substitute covered. They are separated by the two sites (Delano and Lost Hills) then summed up for each substitute. A final column is created with total days that they have covered.

A second portion of the code looks to find active (days worked > 0) and inactive (days worked = 0) substitutes. It will be done by combining the dataframe from the first part with the list of substitutes. Then the dataframe will be separated into two dataframes based on the criteria above.

In [18]:
import numpy as np
import pandas as pd

In [19]:
# Load Substitute list
substitutes_roster = pd.read_csv(r"C:\Users\derek.castleman\Desktop\2025_02_25_20265_Castleman Substitute List_664664159_.csv")

# Load Data Analyst Teacher Absent Report
substitutes = pd.read_csv(r"C:\Users\derek.castleman\Desktop\2025_02_25_20265_Data Analyst Absent Teacher Report_664664824_.csv")
substitutes

# Name the output destination and file name
output = "C:\\Users\\derek.castleman\\Desktop\\Substitutes.xlsx"

In [20]:
# Selects for absent days related to Teachers and SGIs
substitutes = substitutes[(substitutes['Employee Type'] == 'Small Group Instructor') | 
                         (substitutes['Employee Type'] == 'Teacher')]
substitutes

,Date,School Name,Employee Full Name,Substitute Full Name,Employee Type,Employee Identifier,Absence Reason,Duration Minutes (Absence)
1,9/3/2024,WCPA - Delano Elementary,"GUERRERO, SUSAN","Tapia, Daise",Teacher,A0B9,School Related,08:00
2,9/3/2024,WCPA - Delano Elementary,"Mendoza, Jasmine",NaN,Small Group Instructor,A0SM,Leave > Sick Leave,08:00
3,9/3/2024,WCPA - Delano Elementary,"SANDBORG, ERIN","Zamarripa, Jose",Teacher,A0BK,Leave > Personal Day,08:00
5,9/3/2024,WCPA - Delano Elementary,"SHEBLEY, SHANNA MARIE","Gomez Martinez, Kassandra",Teacher,A081,Leave > Sick Leave,02:30
6,9/3/2024,WCPA - Delano Elementary,"SMITH, BRITTANY","Gomez Martinez, Kassandra",Teacher,A0BN,School Related,01:05
...,...,...,...,...,...,...,...,...
2399,2/25/2025,WCPA - Elementary Lost Hills,"AGUILAR, ALONDRA","Avila, Maritza",Teacher,A0NP,Leave > Sick Leave,08:00
2400,2/25/2025,WCPA - Elementary Lost Hills,"AVILA, YESENIA","Rocha, Ivan",Teacher,A0BU,Jury Duty,08:00
2401,2/25/2025,WCPA - Elementary Lost Hills,"Olmos, Nick",NaN,Teacher,A0N5,Leave > Sick Leave,01:00
2402,2/25/2025,WCPA-Lost Hills High School,"ARANDA, MARIA","Woolsey, Brandi",Teacher,A0KR,Leave > Sick Leave,08:30
2403,2/25/2025,WCPA-Lost Hills High School,"Ramirez, Lorena",NaN,Small Group Instructor,A0GQ,Leave > Sick Leave,08:30

In [21]:
# Drop duplicates on date since a teacher can work multiple jobs in one day
substitutes = substitutes.drop_duplicates(subset=['Date', 'Substitute Full Name'])
substitutes

,Date,School Name,Employee Full Name,Substitute Full Name,Employee Type,Employee Identifier,Absence Reason,Duration Minutes (Absence)
1,9/3/2024,WCPA - Delano Elementary,"GUERRERO, SUSAN","Tapia, Daise",Teacher,A0B9,School Related,08:00
2,9/3/2024,WCPA - Delano Elementary,"Mendoza, Jasmine",NaN,Small Group Instructor,A0SM,Leave > Sick Leave,08:00
3,9/3/2024,WCPA - Delano Elementary,"SANDBORG, ERIN","Zamarripa, Jose",Teacher,A0BK,Leave > Personal Day,08:00
5,9/3/2024,WCPA - Delano Elementary,"SHEBLEY, SHANNA MARIE","Gomez Martinez, Kassandra",Teacher,A081,Leave > Sick Leave,02:30
7,9/3/2024,WCPA - Delano High School,"BRIDGEWATER, ANDREA","Montemayor, Evelyn",Teacher,A0B1,Leave > Personal Day,08:30
...,...,...,...,...,...,...,...,...
2397,2/25/2025,WCPA - Delano High School,Substitute,"Palma, Elyza",Teacher,NaN,Substitute,08:30
2398,2/25/2025,WCPA - Delano Middle School,"Lopez, Esmeralda","Fernandez, Nathaly",Teacher,A0KH,Leave > Personal Day,03:00
2399,2/25/2025,WCPA - Elementary Lost Hills,"AGUILAR, ALONDRA","Avila, Maritza",Teacher,A0NP,Leave > Sick Leave,08:00
2400,2/25/2025,WCPA - Elementary Lost Hills,"AVILA, YESENIA","Rocha, Ivan",Teacher,A0BU,Jury Duty,08:00
2402,2/25/2025,WCPA-Lost Hills High School,"ARANDA, MARIA","Woolsey, Brandi",Teacher,A0KR,Leave > Sick Leave,08:30

In [22]:
# GIve a value of 1 for each day worked
substitutes['Days'] = 1
substitutes

C:\Users\DEREK~1.CAS\AppData\Local\Temp/ipykernel_23340/4205339032.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  substitutes['Days'] = 1

,Date,School Name,Employee Full Name,Substitute Full Name,Employee Type,Employee Identifier,Absence Reason,Duration Minutes (Absence),Days
1,9/3/2024,WCPA - Delano Elementary,"GUERRERO, SUSAN","Tapia, Daise",Teacher,A0B9,School Related,08:00,1
2,9/3/2024,WCPA - Delano Elementary,"Mendoza, Jasmine",NaN,Small Group Instructor,A0SM,Leave > Sick Leave,08:00,1
3,9/3/2024,WCPA - Delano Elementary,"SANDBORG, ERIN","Zamarripa, Jose",Teacher,A0BK,Leave > Personal Day,08:00,1
5,9/3/2024,WCPA - Delano Elementary,"SHEBLEY, SHANNA MARIE","Gomez Martinez, Kassandra",Teacher,A081,Leave > Sick Leave,02:30,1
7,9/3/2024,WCPA - Delano High School,"BRIDGEWATER, ANDREA","Montemayor, Evelyn",Teacher,A0B1,Leave > Personal Day,08:30,1
...,...,...,...,...,...,...,...,...,...
2397,2/25/2025,WCPA - Delano High School,Substitute,"Palma, Elyza",Teacher,NaN,Substitute,08:30,1
2398,2/25/2025,WCPA - Delano Middle School,"Lopez, Esmeralda","Fernandez, Nathaly",Teacher,A0KH,Leave > Personal Day,03:00,1
2399,2/25/2025,WCPA - Elementary Lost Hills,"AGUILAR, ALONDRA","Avila, Maritza",Teacher,A0NP,Leave > Sick Leave,08:00,1
2400,2/25/2025,WCPA - Elementary Lost Hills,"AVILA, YESENIA","Rocha, Ivan",Teacher,A0BU,Jury Duty,08:00,1
2402,2/25/2025,WCPA-Lost Hills High School,"ARANDA, MARIA","Woolsey, Brandi",Teacher,A0KR,Leave > Sick Leave,08:30,1

In [23]:
# Selects for Delano sites
delano = substitutes[(substitutes['School Name'] == 'WCPA - Delano Elementary') 
                     | (substitutes['School Name'] == 'WCPA - Delano High School') | 
                    (substitutes['School Name'] == 'WCPA - Delano Middle School') | 
                     (substitutes['School Name'] == 'Primary School-Delano')]
delano

,Date,School Name,Employee Full Name,Substitute Full Name,Employee Type,Employee Identifier,Absence Reason,Duration Minutes (Absence),Days
1,9/3/2024,WCPA - Delano Elementary,"GUERRERO, SUSAN","Tapia, Daise",Teacher,A0B9,School Related,08:00,1
2,9/3/2024,WCPA - Delano Elementary,"Mendoza, Jasmine",NaN,Small Group Instructor,A0SM,Leave > Sick Leave,08:00,1
3,9/3/2024,WCPA - Delano Elementary,"SANDBORG, ERIN","Zamarripa, Jose",Teacher,A0BK,Leave > Personal Day,08:00,1
5,9/3/2024,WCPA - Delano Elementary,"SHEBLEY, SHANNA MARIE","Gomez Martinez, Kassandra",Teacher,A081,Leave > Sick Leave,02:30,1
7,9/3/2024,WCPA - Delano High School,"BRIDGEWATER, ANDREA","Montemayor, Evelyn",Teacher,A0B1,Leave > Personal Day,08:30,1
...,...,...,...,...,...,...,...,...,...
2390,2/25/2025,WCPA - Delano Elementary,"PIKE, ERIC DOUGLAS","Jara, Breana",Teacher,A0A9,Leave > Sick Leave,08:00,1
2393,2/25/2025,WCPA - Delano High School,"LEE, TETYANA","Alonso, Gabriela",Teacher,A0HX,School Related,08:30,1
2396,2/25/2025,WCPA - Delano High School,Substitute,"Mendoza, Christopher",Teacher,NaN,Substitute,08:30,1
2397,2/25/2025,WCPA - Delano High School,Substitute,"Palma, Elyza",Teacher,NaN,Substitute,08:30,1
2398,2/25/2025,WCPA - Delano Middle School,"Lopez, Esmeralda","Fernandez, Nathaly",Teacher,A0KH,Leave > Personal Day,03:00,1

In [24]:
# Groups by substitute name and sums up the days worked
delano = delano.groupby(['Substitute Full Name']).sum(['Days']).reset_index()
delano

         Substitute Full Name  Days
0           ACEVEDO, JENNIFER     6
1            Alonso, Gabriela    31
2                Campos, Joey    74
3               Cantu, Manuel     5
4           Carrillo, Ulisses    29
5         Cisneros, Guillermo     1
6               Cuate, Bertha    24
7            Escarzaga, Mindi     4
8          Fernandez, Nathaly    79
9            Flores, Angelica    15
10  Gomez Martinez, Kassandra    30
11           Gonzalez, Danira    56
12           Herrera, Maribel    10
13               Jara, Breana     6
14      Lazo Mejia, Christina    33
15               Leon, Martin    39
16               Lopez, Maira     6
17              MEDINA, MARCO     8
18           Magallanes, Elva    15
19            Martin, Anthony    26
20           Martin, Virginia    30
21       Mendoza, Christopher     4
22              Merino, Lexus     7
23            Mojarro, Julian    34
24         Montemayor, Evelyn    55
25         Morales Jr, Ramiro    10
26         Ochoa Leon, Heathy    25
27               Palma, Elyza    39
28    Rendon Guzman, Citlalli     2
29                Rocha, Ivan     1
30         Rodriguez, Esteban    22
31               Rose, Michal     2
32               Tapia, Daise    80
33            Zamarripa, Jose    66
34           Zamora, Jonathan    77

In [25]:
# Changes day column to say Delano
delano = delano.rename(columns={'Days': 'Delano'})
delano

         Substitute Full Name  Delano
0           ACEVEDO, JENNIFER       6
1            Alonso, Gabriela      31
2                Campos, Joey      74
3               Cantu, Manuel       5
4           Carrillo, Ulisses      29
5         Cisneros, Guillermo       1
6               Cuate, Bertha      24
7            Escarzaga, Mindi       4
8          Fernandez, Nathaly      79
9            Flores, Angelica      15
10  Gomez Martinez, Kassandra      30
11           Gonzalez, Danira      56
12           Herrera, Maribel      10
13               Jara, Breana       6
14      Lazo Mejia, Christina      33
15               Leon, Martin      39
16               Lopez, Maira       6
17              MEDINA, MARCO       8
18           Magallanes, Elva      15
19            Martin, Anthony      26
20           Martin, Virginia      30
21       Mendoza, Christopher       4
22              Merino, Lexus       7
23            Mojarro, Julian      34
24         Montemayor, Evelyn      55
25         Morales Jr, Ramiro      10
26         Ochoa Leon, Heathy      25
27               Palma, Elyza      39
28    Rendon Guzman, Citlalli       2
29                Rocha, Ivan       1
30         Rodriguez, Esteban      22
31               Rose, Michal       2
32               Tapia, Daise      80
33            Zamarripa, Jose      66
34           Zamora, Jonathan      77

In [26]:
# Selects for the Lost Hills schools
losthills = substitutes[(substitutes['School Name'] == 'WCPA - Elementary Lost Hills') 
                     | (substitutes['School Name'] == 'WCPA - Lost Hills Middle School') | 
                    (substitutes['School Name'] == 'WCPA-Lost Hills High School')]
losthills

,Date,School Name,Employee Full Name,Substitute Full Name,Employee Type,Employee Identifier,Absence Reason,Duration Minutes (Absence),Days
17,9/3/2024,WCPA - Elementary Lost Hills,"ELLER, KAYLA","Lopez, Maira",Teacher,A0F8,School Related,08:00,1
18,9/3/2024,WCPA - Elementary Lost Hills,"Higuera, Lindsey","Ceron, Julio",Teacher,A0N4,Leave > Sick Leave,08:00,1
19,9/3/2024,WCPA - Elementary Lost Hills,"OJEDA, ROSIO","Tenorio, Gustavo",Teacher,A0IQ,School Related,08:00,1
20,9/3/2024,WCPA - Elementary Lost Hills,Substitute,"Dean, Terry L",Teacher,NaN,Substitute,08:00,1
21,9/3/2024,WCPA - Lost Hills Middle School,"Ontiveros, Odalis","Cisneros, Guillermo",Teacher,A0N0,Leave > Sick Leave,08:00,1
...,...,...,...,...,...,...,...,...,...
2377,2/24/2025,WCPA - Lost Hills Middle School,"Gonzalez, Josefina","Rocha, Ivan",Teacher,A0S0,Leave > Sick Leave,08:00,1
2378,2/24/2025,WCPA-Lost Hills High School,"ARANDA, MARIA","Woolsey, Brandi",Teacher,A0KR,Leave > Sick Leave,08:30,1
2399,2/25/2025,WCPA - Elementary Lost Hills,"AGUILAR, ALONDRA","Avila, Maritza",Teacher,A0NP,Leave > Sick Leave,08:00,1
2400,2/25/2025,WCPA - Elementary Lost Hills,"AVILA, YESENIA","Rocha, Ivan",Teacher,A0BU,Jury Duty,08:00,1
2402,2/25/2025,WCPA-Lost Hills High School,"ARANDA, MARIA","Woolsey, Brandi",Teacher,A0KR,Leave > Sick Leave,08:30,1

In [27]:
# Groups by substitute name and the days worked
losthills = losthills.groupby(['Substitute Full Name']).sum(['Days']).reset_index()
losthills

         Substitute Full Name  Days
0              Avila, Maritza    64
1                Ayon, Gissel    49
2                Ceron, Julio    37
3         Cisneros, Guillermo    43
4               Cuate, Bertha    10
5               Dean, Terry L     5
6            Escarzaga, Mindi     1
7            Flores, Angelica     1
8   Gomez Martinez, Kassandra     8
9      LOMELI ACEVES, JASMINE     5
10               Lopez, Maira     7
11            Martin, Anthony    22
12           Martin, Virginia     4
13         Ochoa Leon, Heathy     5
14          Pruneda, Cristina    26
15                Rocha, Ivan    68
16               Tapia, Daise     1
17           Tenorio, Gustavo    73
18            Woolsey, Brandi    65
19              Zavala, Isaac    54

In [28]:
# Changes name of Days to Lost Hills
losthills = losthills.rename(columns={'Days': 'Lost Hills'})
losthills

         Substitute Full Name  Lost Hills
0              Avila, Maritza          64
1                Ayon, Gissel          49
2                Ceron, Julio          37
3         Cisneros, Guillermo          43
4               Cuate, Bertha          10
5               Dean, Terry L           5
6            Escarzaga, Mindi           1
7            Flores, Angelica           1
8   Gomez Martinez, Kassandra           8
9      LOMELI ACEVES, JASMINE           5
10               Lopez, Maira           7
11            Martin, Anthony          22
12           Martin, Virginia           4
13         Ochoa Leon, Heathy           5
14          Pruneda, Cristina          26
15                Rocha, Ivan          68
16               Tapia, Daise           1
17           Tenorio, Gustavo          73
18            Woolsey, Brandi          65
19              Zavala, Isaac          54

In [29]:
# Merges Delano dataframe with Lost Hills
final = pd.merge(delano, losthills, how='outer', on='Substitute Full Name')
final

         Substitute Full Name  Delano  Lost Hills
0           ACEVEDO, JENNIFER     6.0         NaN
1            Alonso, Gabriela    31.0         NaN
2                Campos, Joey    74.0         NaN
3               Cantu, Manuel     5.0         NaN
4           Carrillo, Ulisses    29.0         NaN
5         Cisneros, Guillermo     1.0        43.0
6               Cuate, Bertha    24.0        10.0
7            Escarzaga, Mindi     4.0         1.0
8          Fernandez, Nathaly    79.0         NaN
9            Flores, Angelica    15.0         1.0
10  Gomez Martinez, Kassandra    30.0         8.0
11           Gonzalez, Danira    56.0         NaN
12           Herrera, Maribel    10.0         NaN
13               Jara, Breana     6.0         NaN
14      Lazo Mejia, Christina    33.0         NaN
15               Leon, Martin    39.0         NaN
16               Lopez, Maira     6.0         7.0
17              MEDINA, MARCO     8.0         NaN
18           Magallanes, Elva    15.0         NaN
19            Martin, Anthony    26.0        22.0
20           Martin, Virginia    30.0         4.0
21       Mendoza, Christopher     4.0         NaN
22              Merino, Lexus     7.0         NaN
23            Mojarro, Julian    34.0         NaN
24         Montemayor, Evelyn    55.0         NaN
25         Morales Jr, Ramiro    10.0         NaN
26         Ochoa Leon, Heathy    25.0         5.0
27               Palma, Elyza    39.0         NaN
28    Rendon Guzman, Citlalli     2.0         NaN
29                Rocha, Ivan     1.0        68.0
30         Rodriguez, Esteban    22.0         NaN
31               Rose, Michal     2.0         NaN
32               Tapia, Daise    80.0         1.0
33            Zamarripa, Jose    66.0         NaN
34           Zamora, Jonathan    77.0         NaN
35             Avila, Maritza     NaN        64.0
36               Ayon, Gissel     NaN        49.0
37               Ceron, Julio     NaN        37.0
38              Dean, Terry L     NaN         5.0
39     LOMELI ACEVES, JASMINE     NaN         5.0
40          Pruneda, Cristina     NaN        26.0
41           Tenorio, Gustavo     NaN        73.0
42            Woolsey, Brandi     NaN        65.0
43              Zavala, Isaac     NaN        54.0

In [30]:
# Fill NaN values with a 0
final = final.fillna(0)
final

         Substitute Full Name  Delano  Lost Hills
0           ACEVEDO, JENNIFER     6.0         0.0
1            Alonso, Gabriela    31.0         0.0
2                Campos, Joey    74.0         0.0
3               Cantu, Manuel     5.0         0.0
4           Carrillo, Ulisses    29.0         0.0
5         Cisneros, Guillermo     1.0        43.0
6               Cuate, Bertha    24.0        10.0
7            Escarzaga, Mindi     4.0         1.0
8          Fernandez, Nathaly    79.0         0.0
9            Flores, Angelica    15.0         1.0
10  Gomez Martinez, Kassandra    30.0         8.0
11           Gonzalez, Danira    56.0         0.0
12           Herrera, Maribel    10.0         0.0
13               Jara, Breana     6.0         0.0
14      Lazo Mejia, Christina    33.0         0.0
15               Leon, Martin    39.0         0.0
16               Lopez, Maira     6.0         7.0
17              MEDINA, MARCO     8.0         0.0
18           Magallanes, Elva    15.0         0.0
19            Martin, Anthony    26.0        22.0
20           Martin, Virginia    30.0         4.0
21       Mendoza, Christopher     4.0         0.0
22              Merino, Lexus     7.0         0.0
23            Mojarro, Julian    34.0         0.0
24         Montemayor, Evelyn    55.0         0.0
25         Morales Jr, Ramiro    10.0         0.0
26         Ochoa Leon, Heathy    25.0         5.0
27               Palma, Elyza    39.0         0.0
28    Rendon Guzman, Citlalli     2.0         0.0
29                Rocha, Ivan     1.0        68.0
30         Rodriguez, Esteban    22.0         0.0
31               Rose, Michal     2.0         0.0
32               Tapia, Daise    80.0         1.0
33            Zamarripa, Jose    66.0         0.0
34           Zamora, Jonathan    77.0         0.0
35             Avila, Maritza     0.0        64.0
36               Ayon, Gissel     0.0        49.0
37               Ceron, Julio     0.0        37.0
38              Dean, Terry L     0.0         5.0
39     LOMELI ACEVES, JASMINE     0.0         5.0
40          Pruneda, Cristina     0.0        26.0
41           Tenorio, Gustavo     0.0        73.0
42            Woolsey, Brandi     0.0        65.0
43              Zavala, Isaac     0.0        54.0

In [31]:
# Totals columns to get total days worked
final['Total'] = final['Delano'] + final['Lost Hills']
final

         Substitute Full Name  Delano  Lost Hills  Total
0           ACEVEDO, JENNIFER     6.0         0.0    6.0
1            Alonso, Gabriela    31.0         0.0   31.0
2                Campos, Joey    74.0         0.0   74.0
3               Cantu, Manuel     5.0         0.0    5.0
4           Carrillo, Ulisses    29.0         0.0   29.0
5         Cisneros, Guillermo     1.0        43.0   44.0
6               Cuate, Bertha    24.0        10.0   34.0
7            Escarzaga, Mindi     4.0         1.0    5.0
8          Fernandez, Nathaly    79.0         0.0   79.0
9            Flores, Angelica    15.0         1.0   16.0
10  Gomez Martinez, Kassandra    30.0         8.0   38.0
11           Gonzalez, Danira    56.0         0.0   56.0
12           Herrera, Maribel    10.0         0.0   10.0
13               Jara, Breana     6.0         0.0    6.0
14      Lazo Mejia, Christina    33.0         0.0   33.0
15               Leon, Martin    39.0         0.0   39.0
16               Lopez, Maira     6.0         7.0   13.0
17              MEDINA, MARCO     8.0         0.0    8.0
18           Magallanes, Elva    15.0         0.0   15.0
19            Martin, Anthony    26.0        22.0   48.0
20           Martin, Virginia    30.0         4.0   34.0
21       Mendoza, Christopher     4.0         0.0    4.0
22              Merino, Lexus     7.0         0.0    7.0
23            Mojarro, Julian    34.0         0.0   34.0
24         Montemayor, Evelyn    55.0         0.0   55.0
25         Morales Jr, Ramiro    10.0         0.0   10.0
26         Ochoa Leon, Heathy    25.0         5.0   30.0
27               Palma, Elyza    39.0         0.0   39.0
28    Rendon Guzman, Citlalli     2.0         0.0    2.0
29                Rocha, Ivan     1.0        68.0   69.0
30         Rodriguez, Esteban    22.0         0.0   22.0
31               Rose, Michal     2.0         0.0    2.0
32               Tapia, Daise    80.0         1.0   81.0
33            Zamarripa, Jose    66.0         0.0   66.0
34           Zamora, Jonathan    77.0         0.0   77.0
35             Avila, Maritza     0.0        64.0   64.0
36               Ayon, Gissel     0.0        49.0   49.0
37               Ceron, Julio     0.0        37.0   37.0
38              Dean, Terry L     0.0         5.0    5.0
39     LOMELI ACEVES, JASMINE     0.0         5.0    5.0
40          Pruneda, Cristina     0.0        26.0   26.0
41           Tenorio, Gustavo     0.0        73.0   73.0
42            Woolsey, Brandi     0.0        65.0   65.0
43              Zavala, Isaac     0.0        54.0   54.0

In [32]:
# Puts teachers in alphabetical order
final = final.sort_values(by='Substitute Full Name')
final

         Substitute Full Name  Delano  Lost Hills  Total
0           ACEVEDO, JENNIFER     6.0         0.0    6.0
1            Alonso, Gabriela    31.0         0.0   31.0
35             Avila, Maritza     0.0        64.0   64.0
36               Ayon, Gissel     0.0        49.0   49.0
2                Campos, Joey    74.0         0.0   74.0
3               Cantu, Manuel     5.0         0.0    5.0
4           Carrillo, Ulisses    29.0         0.0   29.0
37               Ceron, Julio     0.0        37.0   37.0
5         Cisneros, Guillermo     1.0        43.0   44.0
6               Cuate, Bertha    24.0        10.0   34.0
38              Dean, Terry L     0.0         5.0    5.0
7            Escarzaga, Mindi     4.0         1.0    5.0
8          Fernandez, Nathaly    79.0         0.0   79.0
9            Flores, Angelica    15.0         1.0   16.0
10  Gomez Martinez, Kassandra    30.0         8.0   38.0
11           Gonzalez, Danira    56.0         0.0   56.0
12           Herrera, Maribel    10.0         0.0   10.0
13               Jara, Breana     6.0         0.0    6.0
39     LOMELI ACEVES, JASMINE     0.0         5.0    5.0
14      Lazo Mejia, Christina    33.0         0.0   33.0
15               Leon, Martin    39.0         0.0   39.0
16               Lopez, Maira     6.0         7.0   13.0
17              MEDINA, MARCO     8.0         0.0    8.0
18           Magallanes, Elva    15.0         0.0   15.0
19            Martin, Anthony    26.0        22.0   48.0
20           Martin, Virginia    30.0         4.0   34.0
21       Mendoza, Christopher     4.0         0.0    4.0
22              Merino, Lexus     7.0         0.0    7.0
23            Mojarro, Julian    34.0         0.0   34.0
24         Montemayor, Evelyn    55.0         0.0   55.0
25         Morales Jr, Ramiro    10.0         0.0   10.0
26         Ochoa Leon, Heathy    25.0         5.0   30.0
27               Palma, Elyza    39.0         0.0   39.0
40          Pruneda, Cristina     0.0        26.0   26.0
28    Rendon Guzman, Citlalli     2.0         0.0    2.0
29                Rocha, Ivan     1.0        68.0   69.0
30         Rodriguez, Esteban    22.0         0.0   22.0
31               Rose, Michal     2.0         0.0    2.0
32               Tapia, Daise    80.0         1.0   81.0
41           Tenorio, Gustavo     0.0        73.0   73.0
42            Woolsey, Brandi     0.0        65.0   65.0
33            Zamarripa, Jose    66.0         0.0   66.0
34           Zamora, Jonathan    77.0         0.0   77.0
43              Zavala, Isaac     0.0        54.0   54.0

In [33]:
import base64
from IPython.display import HTML

def create_download_link( df, title = "Substitutes Days Covered", filename = "Substitutes Days Covered"):
    csv = df.to_csv(index=False)
    b64 = base64.b64encode(csv.encode())
    payload = b64.decode()
    html = '<a download="{filename}" href="data:text/csv;base64,{payload}" target="_blank">{title}</a>'
    html = html.format(payload=payload,title=title,filename=filename)
    return HTML(html)

create_download_link(final)

In [34]:
substitutes_roster

             Full Name Identifier  Substitute External ID 01
0    ACEVEDO, JENNIFER       A0JG                        NaN
1      Aguirre, Vanesa       A0OT                        NaN
2      Alfaro, Britney       A0XC                        NaN
3     Alonso, Gabriela       A0LX                        NaN
4      Alvarado, Maite       A0W7                        NaN
..                 ...        ...                        ...
126    Woolsey, Brandi       A0QI                        NaN
127    Zamarripa, Jose       A0Q3                        NaN
128   Zamora, Jonathan       A0NQ                        NaN
129   Zamora, Samantha       A0O0                        NaN
130      Zavala, Isaac       A0T8                        NaN

[131 rows x 3 columns]

In [35]:
final

         Substitute Full Name  Delano  Lost Hills  Total
0           ACEVEDO, JENNIFER     6.0         0.0    6.0
1            Alonso, Gabriela    31.0         0.0   31.0
35             Avila, Maritza     0.0        64.0   64.0
36               Ayon, Gissel     0.0        49.0   49.0
2                Campos, Joey    74.0         0.0   74.0
3               Cantu, Manuel     5.0         0.0    5.0
4           Carrillo, Ulisses    29.0         0.0   29.0
37               Ceron, Julio     0.0        37.0   37.0
5         Cisneros, Guillermo     1.0        43.0   44.0
6               Cuate, Bertha    24.0        10.0   34.0
38              Dean, Terry L     0.0         5.0    5.0
7            Escarzaga, Mindi     4.0         1.0    5.0
8          Fernandez, Nathaly    79.0         0.0   79.0
9            Flores, Angelica    15.0         1.0   16.0
10  Gomez Martinez, Kassandra    30.0         8.0   38.0
11           Gonzalez, Danira    56.0         0.0   56.0
12           Herrera, Maribel    10.0         0.0   10.0
13               Jara, Breana     6.0         0.0    6.0
39     LOMELI ACEVES, JASMINE     0.0         5.0    5.0
14      Lazo Mejia, Christina    33.0         0.0   33.0
15               Leon, Martin    39.0         0.0   39.0
16               Lopez, Maira     6.0         7.0   13.0
17              MEDINA, MARCO     8.0         0.0    8.0
18           Magallanes, Elva    15.0         0.0   15.0
19            Martin, Anthony    26.0        22.0   48.0
20           Martin, Virginia    30.0         4.0   34.0
21       Mendoza, Christopher     4.0         0.0    4.0
22              Merino, Lexus     7.0         0.0    7.0
23            Mojarro, Julian    34.0         0.0   34.0
24         Montemayor, Evelyn    55.0         0.0   55.0
25         Morales Jr, Ramiro    10.0         0.0   10.0
26         Ochoa Leon, Heathy    25.0         5.0   30.0
27               Palma, Elyza    39.0         0.0   39.0
40          Pruneda, Cristina     0.0        26.0   26.0
28    Rendon Guzman, Citlalli     2.0         0.0    2.0
29                Rocha, Ivan     1.0        68.0   69.0
30         Rodriguez, Esteban    22.0         0.0   22.0
31               Rose, Michal     2.0         0.0    2.0
32               Tapia, Daise    80.0         1.0   81.0
41           Tenorio, Gustavo     0.0        73.0   73.0
42            Woolsey, Brandi     0.0        65.0   65.0
33            Zamarripa, Jose    66.0         0.0   66.0
34           Zamora, Jonathan    77.0         0.0   77.0
43              Zavala, Isaac     0.0        54.0   54.0

In [36]:
# Merges Substitute full roster with the days worked one
final = pd.merge(final, substitutes_roster, how='outer', left_on='Substitute Full Name', right_on='Full Name')
final

,Substitute Full Name,Delano,Lost Hills,Total,Full Name,Identifier,Substitute External ID 01
0,"ACEVEDO, JENNIFER",6.0,0.0,6.0,"ACEVEDO, JENNIFER",A0JG,NaN
1,"Alonso, Gabriela",31.0,0.0,31.0,"Alonso, Gabriela",A0LX,NaN
2,"Avila, Maritza",0.0,64.0,64.0,"Avila, Maritza",A0OY,NaN
3,"Ayon, Gissel",0.0,49.0,49.0,"Ayon, Gissel",A0PZ,NaN
4,"Campos, Joey",74.0,0.0,74.0,"Campos, Joey",A0OC,NaN
...,...,...,...,...,...,...,...
126,NaN,NaN,NaN,NaN,"Sumagang, Jade",A0UL,NaN
127,NaN,NaN,NaN,NaN,"Torres, Juan",A0JH,NaN
128,NaN,NaN,NaN,NaN,"Tovar, Alexsus",A0IZ,NaN
129,NaN,NaN,NaN,NaN,"Vazquez, Erandy",A0OP,NaN
130,NaN,NaN,NaN,NaN,"Zamora, Samantha",A0O0,NaN

In [37]:
# Fills missing Substitute Full Name with the Full Name from roster
final['Substitute Full Name'] = final['Substitute Full Name'].fillna(final['Full Name'])
final

,Substitute Full Name,Delano,Lost Hills,Total,Full Name,Identifier,Substitute External ID 01
0,"ACEVEDO, JENNIFER",6.0,0.0,6.0,"ACEVEDO, JENNIFER",A0JG,NaN
1,"Alonso, Gabriela",31.0,0.0,31.0,"Alonso, Gabriela",A0LX,NaN
2,"Avila, Maritza",0.0,64.0,64.0,"Avila, Maritza",A0OY,NaN
3,"Ayon, Gissel",0.0,49.0,49.0,"Ayon, Gissel",A0PZ,NaN
4,"Campos, Joey",74.0,0.0,74.0,"Campos, Joey",A0OC,NaN
...,...,...,...,...,...,...,...
126,"Sumagang, Jade",NaN,NaN,NaN,"Sumagang, Jade",A0UL,NaN
127,"Torres, Juan",NaN,NaN,NaN,"Torres, Juan",A0JH,NaN
128,"Tovar, Alexsus",NaN,NaN,NaN,"Tovar, Alexsus",A0IZ,NaN
129,"Vazquez, Erandy",NaN,NaN,NaN,"Vazquez, Erandy",A0OP,NaN
130,"Zamora, Samantha",NaN,NaN,NaN,"Zamora, Samantha",A0O0,NaN

In [38]:
# Selects final columns
final = final[['Substitute Full Name', 'Delano', 'Lost Hills', 'Total']]
final

    Substitute Full Name  Delano  Lost Hills  Total
0      ACEVEDO, JENNIFER     6.0         0.0    6.0
1       Alonso, Gabriela    31.0         0.0   31.0
2         Avila, Maritza     0.0        64.0   64.0
3           Ayon, Gissel     0.0        49.0   49.0
4           Campos, Joey    74.0         0.0   74.0
..                   ...     ...         ...    ...
126       Sumagang, Jade     NaN         NaN    NaN
127         Torres, Juan     NaN         NaN    NaN
128       Tovar, Alexsus     NaN         NaN    NaN
129      Vazquez, Erandy     NaN         NaN    NaN
130     Zamora, Samantha     NaN         NaN    NaN

[131 rows x 4 columns]

In [39]:
# Fill in missing values with 0
final = final.fillna(0)
final

    Substitute Full Name  Delano  Lost Hills  Total
0      ACEVEDO, JENNIFER     6.0         0.0    6.0
1       Alonso, Gabriela    31.0         0.0   31.0
2         Avila, Maritza     0.0        64.0   64.0
3           Ayon, Gissel     0.0        49.0   49.0
4           Campos, Joey    74.0         0.0   74.0
..                   ...     ...         ...    ...
126       Sumagang, Jade     0.0         0.0    0.0
127         Torres, Juan     0.0         0.0    0.0
128       Tovar, Alexsus     0.0         0.0    0.0
129      Vazquez, Erandy     0.0         0.0    0.0
130     Zamora, Samantha     0.0         0.0    0.0

[131 rows x 4 columns]

In [ ]:
# Puts teachers in alphabetical order
final = final.sort_values(by='Substitute Full Name')
final

In [40]:
# Active substitutes are selected by having more than 0 days of work
active = final[final['Total'] > 0]
active

         Substitute Full Name  Delano  Lost Hills  Total
0           ACEVEDO, JENNIFER     6.0         0.0    6.0
1            Alonso, Gabriela    31.0         0.0   31.0
2              Avila, Maritza     0.0        64.0   64.0
3                Ayon, Gissel     0.0        49.0   49.0
4                Campos, Joey    74.0         0.0   74.0
5               Cantu, Manuel     5.0         0.0    5.0
6           Carrillo, Ulisses    29.0         0.0   29.0
7                Ceron, Julio     0.0        37.0   37.0
8         Cisneros, Guillermo     1.0        43.0   44.0
9               Cuate, Bertha    24.0        10.0   34.0
10              Dean, Terry L     0.0         5.0    5.0
11           Escarzaga, Mindi     4.0         1.0    5.0
12         Fernandez, Nathaly    79.0         0.0   79.0
13           Flores, Angelica    15.0         1.0   16.0
14  Gomez Martinez, Kassandra    30.0         8.0   38.0
15           Gonzalez, Danira    56.0         0.0   56.0
16           Herrera, Maribel    10.0         0.0   10.0
17               Jara, Breana     6.0         0.0    6.0
18     LOMELI ACEVES, JASMINE     0.0         5.0    5.0
19      Lazo Mejia, Christina    33.0         0.0   33.0
20               Leon, Martin    39.0         0.0   39.0
21               Lopez, Maira     6.0         7.0   13.0
22              MEDINA, MARCO     8.0         0.0    8.0
23           Magallanes, Elva    15.0         0.0   15.0
24            Martin, Anthony    26.0        22.0   48.0
25           Martin, Virginia    30.0         4.0   34.0
26       Mendoza, Christopher     4.0         0.0    4.0
27              Merino, Lexus     7.0         0.0    7.0
28            Mojarro, Julian    34.0         0.0   34.0
29         Montemayor, Evelyn    55.0         0.0   55.0
30         Morales Jr, Ramiro    10.0         0.0   10.0
31         Ochoa Leon, Heathy    25.0         5.0   30.0
32               Palma, Elyza    39.0         0.0   39.0
33          Pruneda, Cristina     0.0        26.0   26.0
34    Rendon Guzman, Citlalli     2.0         0.0    2.0
35                Rocha, Ivan     1.0        68.0   69.0
36         Rodriguez, Esteban    22.0         0.0   22.0
37               Rose, Michal     2.0         0.0    2.0
38               Tapia, Daise    80.0         1.0   81.0
39           Tenorio, Gustavo     0.0        73.0   73.0
40            Woolsey, Brandi     0.0        65.0   65.0
41            Zamarripa, Jose    66.0         0.0   66.0
42           Zamora, Jonathan    77.0         0.0   77.0
43              Zavala, Isaac     0.0        54.0   54.0

In [41]:
# Inactive selects substitutes with 0 days worked
inactive = final[final['Total'] == 0]
inactive

                   Substitute Full Name  Delano  Lost Hills  Total
44                      Aguirre, Vanesa     0.0         0.0    0.0
45                      Alfaro, Britney     0.0         0.0    0.0
46                      Alvarado, Maite     0.0         0.0    0.0
47   Aranda Solorzano, Maria Del Carmen     0.0         0.0    0.0
48                 Arredondo, Cassandra     0.0         0.0    0.0
..                                  ...     ...         ...    ...
126                      Sumagang, Jade     0.0         0.0    0.0
127                        Torres, Juan     0.0         0.0    0.0
128                      Tovar, Alexsus     0.0         0.0    0.0
129                     Vazquez, Erandy     0.0         0.0    0.0
130                    Zamora, Samantha     0.0         0.0    0.0

[87 rows x 4 columns]

In [42]:
# Write dataframe to file

writer = pd.ExcelWriter(output)

active.to_excel(writer, sheet_name = 'Active', index=False)
inactive.to_excel(writer, sheet_name='Inactive', index=False)

writer.save()